<template>
  <AuthLayout>
    <div id="parent" class="login-form">
      <div class="login-container">
        <a-row :gutter="0">
          <a-col :lg="24" :md="24" :sm="24" :xs="24" :span="24" class="d-flex">
            <a-card title="" :bordered="false" id="child2">
              <div class="text-center">
                <h1>{{ app_name }}</h1>
              </div>
            </a-card>
          </a-col>
        </a-row>      
            <a-card title="Activate Your Account" :bordered="false" id="child" :headStyle="cardHeadStyle">
              <a-form :model="activateAccountFormRequest" name="basic" :label-col="{ span: 8 }" :wrapper-col="{ span: 16 }"
                autocomplete="off" @finish="onFinish" @finishFailed="onFinishFailed">               

                <a-form-item label="Account Email" name="email"
                  :rules="[{ required: true, message: systemMessage.emailIsRequired }, { type: 'email', message: systemMessage.emailShouldBeValid }]">
                  <a-input v-model:value="activateAccountFormRequest.email" id="email" />
                </a-form-item>

                <a-form-item label="Activation Code" name="activation_code"
                  :rules="[{ required: true, message: systemMessage.activationCodeIsRequired }]">
                  <a-input v-model:value="activateAccountFormRequest.activation_code" id="activate_code"/>
                </a-form-item>
                
                <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
                  <a-button type="primary" html-type="submit" :loading="loading" :disabled="loading"
                    @click="submit">Submit</a-button>
                </a-form-item>
              </a-form>
            </a-card>   
      </div>
    </div>
  </AuthLayout>
</template>

<script setup>

import { ref} from 'vue';
import { storeToRefs } from 'pinia'
// import { message } from 'ant-design-vue';
import AuthLayout from "../layouts/AuthLayout.vue";

import { systemMessages } from '@/constants';
import { useAccountStore } from "@/stores/accountStore";


//Data *******************************************//
const cardHeadStyle =ref({
        borderRadius: '50px',    
        color: '#fff',
      })

//Instantiate first the store
const accountStore = useAccountStore()

//Then you can destructure using storeToRefs to expose its 
//properties and able to use it in the components.
const { activateAccountFormRequest } = storeToRefs(accountStore);

//you can destructure its functions without using storeToRefs
//and use it in the components.
const { activateAccount } = accountStore;

const app_name = ref(import.meta.env.VITE_APP_NAME)


//instance objects  *****************************//

const systemMessage = systemMessages;

//Methods  **************************************//
const onFinish = (values) => {
  console.log('Success:', values);
  activateAccount()
  console.log('passed router');
};

const onFinishFailed = ({ errorFields }) => {
  //console.log(errorFields)   
  if (errorFields.length > 0) {
       //get the very first error field
        const errorField = errorFields[0].name;
       //instantiate that field as html element
        const errorElement = document.getElementById(`${errorField}`);       
       
        //scroll to that element
       if (errorElement) {
          errorElement.scrollIntoView({
            behavior: 'smooth',
            block: 'start',
          });
          errorElement.focus();
        }
      }
      
};

</script>

<style scoped>
.login-form #child2 .ant-card-body {
  display: table-cell;
  vertical-align: middle;
}
</style>

<style scoped>
.login-container {
  /* background: #f6f5f5;  */
  padding: 30px;
  max-width: 700px;
  width: 100%;
}

#parent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

#child {
  /* height: 45vh; */
  position: relative;
  background: white;
  padding: 2rem;
  color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
  width: 100%;
}

#child2 {
  /* height: 45vh; */
  position: relative;
  background: rgb(41, 41, 44);
  width: 100%;
  color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
  display: table;
}

#child2 :deep(.ant-card-body) {
  padding: 15px;
}

h1 {
  color: white;
  margin: 0;
}

:deep(.ant-card-head-title) {
  font-size: 24px;
}

.register-btn {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}

@media screen and (max-width: 300px) {
  :deep(.ant-row) {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 959px) {
  #parent {
    height: auto;
    max-width: 500px;
    margin: 25px auto;
    width: 100%;
  }

  .w-100 {
    width: 100%;
  }

  #child2 {
    width: 100%;
  }

  #child {
    padding: 1rem;
  }
}
</style>