<template>
    <MainLayout defaultKey="1" pageTitle="Weather App">
      <DataTable />
    </MainLayout>
</template>


<script setup>

// import { ref, reactive } from 'vue';
// import { message } from 'ant-design-vue';
import MainLayout from "../layouts/MainLayout.vue";
import DataTable from "../components/dashboard/DataTable.vue";
// import { systemMessages } from '@/constants';
</script>