<template>
  <AuthLayout>
    <div id="parent" class="login-form">
      <div class="login-container">
        <a-row :gutter="0">
          <a-col :lg="24" :md="24" :sm="24" :xs="24" :span="24" class="d-flex">
            <a-card title="" :bordered="false" id="child2">
              <div class="text-center">
                <h1>{{ app_name }}</h1>               
              </div>
            </a-card>
          </a-col>
        </a-row>
        <a-row :gutter="0">
          <a-col :lg="24" :md="24" :sm="24" :xs="24" :span="24" class="d-flex">
            <a-card title="Forgot your password?" :bordered="false" id="child"  :headStyle="cardHeadStyle">
              <a-form :model="forgotPasswordFormRequest" name="basic" :label-col="{ span: 8 }" :wrapper-col="{ span: 16 }"
                autocomplete="off" @finish="onFinish" @finishFailed="onFinishFailed">
                <p>Enter your registered email address and will send you the reset password link.</p>
                <a-form-item label="Email" name="email"
                  :rules="[{ required: true, message: systemMessage.emailIsRequired }, { type: 'email', message: systemMessage.emailShouldBeValid }]">
                  <a-input v-model:value="forgotPasswordFormRequest.email" />
                </a-form-item> 

                <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
                  <a-button type="primary" html-type="submit" :loading="forgotPasswordFormRequestLoading" :disabled="loading"
                    @click="submit" >Submit</a-button>
                </a-form-item>
              </a-form>
            </a-card>
          </a-col>
        </a-row>
      </div>
    </div>
  </AuthLayout>
</template>

<script setup>

import { ref} from 'vue';
import { storeToRefs } from 'pinia'
import AuthLayout from "../layouts/AuthLayout.vue";
import { systemMessages } from '@/constants';
import { useAuthStore } from "@/stores/authStore";

//Data *******************************************//
//instance objects  *****************************//

const cardHeadStyle =ref({
        borderRadius: '50px',    
        color: '#fff',
        'background-color':'#22252a',
        border:"1px",
      })

const authStore = useAuthStore()

const { forgotPasswordFormRequest,forgotPasswordFormRequestLoading } = storeToRefs(authStore) 

const { forgotPassword } = authStore

const app_name = ref(import.meta.env.VITE_APP_NAME)

const systemMessage = systemMessages;

//Methods  **************************************//
const onFinish = (values) => {
  console.log('Success:', values);
  forgotPassword()
  //router.push(landing_page_url.value)
 // console.log('passed router');
};

const onFinishFailed = (errorInfo) => {
  console.log('Failed:', errorInfo);
};

</script>

<style scoped>
.login-form #child2 .ant-card-body {
  display: table-cell;
  vertical-align: middle;
}
</style>

<style scoped>
.login-container {
  /* background: #f6f5f5;  */
  padding: 30px;
  max-width: 700px;
  width: 100%;
}

#parent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

#child {
  /* height: 45vh; */
  position: relative;
  background: white;
  padding: 2rem;
  color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
  width: 100%;
}

#child2 {
  /* height: 45vh; */
  position: relative;
  background: rgb(41, 41, 44);
  width: 100%;
  color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
  display: table;
}

#child2 :deep(.ant-card-body) {
  padding: 15px;
}

h1 {
  color: white;
  margin: 0;
}

:deep(.ant-card-head-title) {
  font-size: 24px;
}

.register-btn {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}

@media screen and (max-width: 991px) {
  :deep(.ant-row) {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 959px) {
  #parent {
    height: auto;
    max-width: 500px;
    margin: 25px auto;
    width: 100%;
  }

  .w-100 {
    width: 100%;
  }

  #child2 {
    width: 100%;
  }

  #child {
    padding: 1rem;
  }
}
</style>