<template>
  <BlankLayout>
    <div id="parent">
      <div class="login-container">
        <a-row :gutter="0" class="row-reverse">
          <a-col :lg="12" :md="24" :sm="24" :xs="24" :span="12" class="d-flex">
            <a-card title="" :bordered="false" id="child2">
              <div class="text-center">
                <h1>iGo Group</h1>
                <h3>Talent Builders</h3>
                <br/><br/>
                <p>Lorem ipsum lorem ipsum
                Lorem ipsum lorem ipsum lorem
                Lorem ipsum lorem ipsum</p>
                <a class="about-btn" href="#">About Us</a>
              </div>
            </a-card>
          </a-col>
          <a-col :lg="12" :md="24" :sm="24" :xs="24" :span="12" class="d-flex">
            <a-card title="Register" :bordered="false" id="child">
              <a-form
                :model="formState"
                name="basic"
                :label-col="{ span: 8 }"
                :wrapper-col="{ span: 16 }"
                autocomplete="off"
                @finishFailed="onFinishFailed">
                <a-form-item
                  label="Name"
                  name="fullname"
                  :rules="[{ required: true, message: 'Please input your name.' }]">
                  <a-input v-model:value="formState.fullname" />
                </a-form-item>

                <a-form-item
                  label="Email"
                  name="email"
                  :rules="[{ required: true, message: 'Please input your email.' }]">
                  <a-input v-model:value="formState.email" />
                </a-form-item>

                <a-form-item
                  label="Password"
                  name="password"
                  :rules="[{ required: true, message: 'Please input your password.' }]">
                  <a-input-password v-model:value="formState.password" />
                </a-form-item>

                <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
                  <a-button type="primary" html-type="submit" :loading="loading" :disabled="loading" @click="submit">Register</a-button>
                  <br><br>
                  <a href="/">Already have an account?</a>
                </a-form-item>
              </a-form>
            </a-card>
          </a-col> 
        </a-row>
      </div>
    </div>
  </BlankLayout>
</template>

<script>
import { defineComponent, ref, reactive } from 'vue';
import BlankLayout from "../layouts/BlankLayout.vue";

export default defineComponent({
  components: {
    BlankLayout
  },
  setup() {
    const loading = ref(false);

    const formState = reactive({
      email: null,
      password: null,
      remember: true,
    });

    const onFinishFailed = (errorInfo) => {
      console.log('Failed:', errorInfo);
    };

    return {
      formState,
      onFinishFailed,
      loading,
    };
  },

});
</script>

<style scoped>
.login-container {
  background: #ececec; 
  padding: 30px;
  max-width: 1000px;
  width: 100%;
}
#parent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
#child {
  /* height: 45vh; */
  position: relative;
  background: white;
  padding: 2rem;
  color: white;
  box-shadow: 5px 5px 20px rgba(0,0,0,.4);
  width: 100%;
}
#child2 {  
  /* height: 45vh; */
  position: relative;
  background: blue;
  width: 100%;
  padding: 2rem;
  color: white;
  box-shadow: 5px 5px 20px rgba(0,0,0,.4);
}
h1,h3 {
  color: white;
  margin: 0;
}
:deep(.ant-card-head-title) {
  font-size: 24px;
}
.about-btn {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}
@media screen and (max-width: 959px) {
  #parent {
    height: auto;
    max-width: 500px;
    margin: 25px auto;
    width: 100%;
  }
  .w-100 {
    width: 100%;
  }
  #child2 {
    width: 100%;
  }
  #child {
    padding: 1rem;
  }
  .row-reverse {
    flex-direction: column-reverse;
  }
}
</style>