<template>
  <div class="view-container"> <!-- START List Container -->
    <h1>Click your favorite destination here in Japan to view weather forecast.</h1>
    <a-row :gutter="16">
      <a-col :lg="8" :md="8" :sm="24" :xs="24" :span="8" center>
        <img class="image-container" src="../../assets/images-cities/tokyo.jpg" @click="showModal('Tokyo')" />
      </a-col>
      <a-col :lg="8" :md="8" :sm="24" :xs="24" :span="8">
        <img class="image-container" src="../../assets/images-cities/yokohama.jpg" @click="showModal('Yokohama')" />
      </a-col>
      <a-col :lg="8" :md="8" :sm="24" :xs="24" :span="8">
        <img class="image-container" src="../../assets/images-cities/kyoto.jpg" @click="showModal('Kyoto')" />
      </a-col>
    </a-row>
    <a-row :gutter="16">
      <a-col :lg="8" :md="8" :sm="24" :xs="24" :span="8">
        <img class="image-container" src="../../assets/images-cities/osaka.jpg" @click="showModal('Osaka')" />
      </a-col>
      <a-col :lg="8" :md="8" :sm="24" :xs="24" :span="8">
        <img class="image-container" src="../../assets/images-cities/sapporo.jpg" @click="showModal('Sapporo')" />
      </a-col>
      <a-col :lg="8" :md="8" :sm="24" :xs="24" :span="8">
        <img class="image-container" src="../../assets/images-cities/nagoya.jpg" @click="showModal('Nagoya')" />
      </a-col>
    </a-row>

    <!-- modal BEGIN-->

    <a-modal v-model:open="open" :title="modalTitle" :footer="null" @ok="handleOk" centered width="700px"
      wrap-class-name="full-modal" style="top: 20px;">
      longitude: {{ cityInformation.lon }}
      latitude: {{ cityInformation.lat }}
      <div style="background-color:rgb(39, 40, 41); height:190px;color:#fff;padding: 10px 10px;border-radius: 10px;">
        <div class="centered-text">
          <span style="font-size:20px; text-align:center;">Weather Today<br /> {{
            formattedDate(currentWeatherForecast.dt) }}</span>
        </div>
        <div class="centered-text">
          <img :src="`${weatherApiUrl}/img/w/${currentWeatherForecast.icon}.png`" /> <span>{{
            currentWeatherForecast.description }}</span>
        </div>
        <div class="centered-text">
          <span style="font-size:50px;">{{ currentWeatherForecast.temp }}ºF</span>
        </div>
        <div class="centered-text">
          <span style="font-size:20px;">Feels like {{ currentWeatherForecast.feels_like }}ºF</span>
        </div>
      </div>

      <div class="current-stat-container" style="background-color:rgb(39, 40, 41); color:#fff; margin-top:5px;">
        <div class="current-stat"><span>Wind <br />{{ currentWeatherForecast.wind }} mph</span></div>
        <div class="current-stat"><span>Pressure <br />{{ currentWeatherForecast.pressure }} hPa</span></div>
        <div class="current-stat"><span>Humidy <br />{{ currentWeatherForecast.humidity }}%</span></div>
        <div class="current-stat"><span>Visibility <br />{{ currentWeatherForecast.visibility }} m</span></div>
      </div>
      <div class="current-stat-container" style="background-color:rgb(39, 40, 41); color:#fff; margin-top:5px;">
        <div class="current-stat"><span>Min. temp<br /> {{ currentWeatherForecast.temp_min }} ºF</span></div>
        <div class="current-stat"><span>Max temp<br /> {{ currentWeatherForecast.temp_max }} ºF</span></div>

      </div>
      <br />

      <div>

        <a-collapse>
          <!-- Use v-for to loop through items and generate primary panels -->
          <a-collapse-panel v-for="(item, index) in items" :key="index" :header="item.title">
            <a-collapse>
              <!-- Use v-for to loop through nestedItems and generate nested <a-collapse-panel> elements  -->
              <a-collapse-panel v-for="(nestedItem, nestedIndex) in item.nestedItems"
                :key="`nested-${index}-${nestedIndex}`" :header="nestedItem.nestedTitle">
                <!-- Content for the nested panel         -->

                <div
                  style="background-color:rgb(39, 40, 41); height:170px;color:#fff;padding: 10px 10px;border-radius: 10px;">
                  <div class="centered-text">
                    <img :src="`${weatherApiUrl}/img/w/${nestedItem.nestedContent[9].icon}.png`" />
                    <span>{{ nestedItem.nestedContent[8].description }}</span>
                  </div>
                  <div class="centered-text">
                    <span style="font-size:50px;">{{ nestedItem.nestedContent[6].temp }}ºF</span>
                  </div>
                  <div class="centered-text">
                    <span style="font-size:20px;">Feels like {{ nestedItem.nestedContent[7].feels_like }}ºF</span>
                  </div>
                </div>

                <a-row>
                  <a-col :span="12" style="text-align:left">Wind</a-col>
                  <a-col :span="12" style="text-align:right">{{ nestedItem.nestedContent[2].wind }}</a-col>
                </a-row>
                <hr />
                <a-row>
                  <a-col :span="12" style="text-align:left">Pressure</a-col>
                  <a-col :span="12" style="text-align:right">{{ nestedItem.nestedContent[3].pressure }}</a-col>
                </a-row>
                <hr />
                <a-row>
                  <a-col :span="12" style="text-align:left">Humidity</a-col>
                  <a-col :span="12" style="text-align:right">{{ nestedItem.nestedContent[4].humidity }}</a-col>
                </a-row>
                <hr />
                <a-row>
                  <a-col :span="12" style="text-align:left">Visibility</a-col>
                  <a-col :span="12" style="text-align:right">{{ nestedItem.nestedContent[5].visibility }}</a-col>
                </a-row>
                <hr />
                <a-row>
                  <a-col :span="12" style="text-align:left">Min. temp</a-col>
                  <a-col :span="12" style="text-align:right">{{ nestedItem.nestedContent[0].temp_min }}</a-col>
                </a-row>
                <hr />
                <a-row>
                  <a-col :span="12" style="text-align:left">Max. temp</a-col>
                  <a-col :span="12" style="text-align:right">{{ nestedItem.nestedContent[1].temp_max }}</a-col>
                </a-row>
                <hr />

              </a-collapse-panel>
            </a-collapse>
          </a-collapse-panel>
        </a-collapse>
      </div>
    </a-modal>
    <!-- modal END  -->


  </div> <!-- END List Container -->
</template>

<script setup>
//Imports ********************************
import { ref } from 'vue';
import axios from "axios";

//Object Declaration *********************

const weatherApiToken = ref(import.meta.env.VITE_WEATHER_API_TOKEN)
const locationApiToken = ref(import.meta.env.VITE_LOCATION_API_TOKEN)
const weatherApiUrl = ref(import.meta.env.VITE_WEATHER_API_URL)
const locationApiUrl = ref(import.meta.env.VITE_LOCATION_API_URL)

const open = ref(false);
const modalTitle = ref('');
const activeKey = ref([]);
const cityInformation = ref({
  lon: null,
  lat: null,
});

const groups = ref([])
const currentWeatherForecast = ref({
  dt: null,
  icon: null,
  description: null,
  temp: null,
  feels_like: null,
  wind: null,
  pressure: null,
  humidity: null,
  visibility: null,
  temp_min: null,
  temp_max: null,
})

const items = ref([
  // This is the sample structure of the items Array
  // {
  //   title: 'Sept day2  91 / 90ºF',
  //   nestedItems: [
  //     { nestedTitle: '00:03', nestedContent: [{temp_min:'1'},{temp_max:'2'},{wind:'3'},{pressure:'4'},{humidity:'5'},{visibility:'6'},{sea_level:'7'},{ground_level:'8'}]},
  //   ],
  // },
  // Add more items with nestedItems as needed
]);


// Create a computed property to format the Unix timestamp
const formattedDate = (unixTimeStamp) => {
  const date = new Date(unixTimeStamp * 1000); // Convert Unix timestamp to milliseconds
  return date.toLocaleString(); // Format the date and time as a string
};
//Method*********************************

const showModal = (param) => {
  //initialize get data 
  getCityInformation(param)

  //show modal window
  open.value = true;
  modalTitle.value = param + ' Weather Forecast';
};

const handleOk = e => {
  console.log(e);
  open.value = false;
  activeKey.value = ref(null);
};

const getCityInformation = (city) => {
  axios
    .get(`${locationApiUrl.value}/v1/geocode/search?text=${city}&apiKey=${locationApiToken.value}`)
    .then((res) => {
      cityInformation.value = res.data
      cityInformation.value.lon = cityInformation.value.features[0].properties.lon
      cityInformation.value.lat = cityInformation.value.features[0].properties.lat
      getWeatherForecast(cityInformation.value.lon, cityInformation.value.lat)
      getCurrentWeatherForecast(cityInformation.value.lon, cityInformation.value.lat)
    })
    .catch((err) => {

    });
};

const getWeatherForecast = (lon, lat) => {
  axios
    .get(`${weatherApiUrl.value}/data/2.5/forecast?lat=${lat}&lon=${lon}&appid=${weatherApiToken.value}&units=imperial`)
    .then((res) => {

      items.value = []
      groups.value = []

      //Group All Dates
      res.data.list.forEach((item) => {

        const date = item.dt_txt.split(' ')[0]; // Extract the date part
        if (!groups.value[date]) {
          groups.value[date] = [];
        }
        groups.value[date].push(item);
      });

      //loop through
      const keys = Object.keys(groups.value);

      for (let i = 0; i < keys.length; i++) {
        const key = keys[i];
        const value = groups.value[key];
        console.log(value, 'data')

        const nestedItems = []
        for (let v = 0; v < value.length; v++) {
          console.log(value[v].dt_txt)
          nestedItems.push({
            nestedTitle: value[v].dt_txt,
            nestedContent: [
              { temp_min: value[v].main.temp_min },
              { temp_max: value[v].main.temp_max },
              { wind: value[v].wind.speed },
              { pressure: value[v].main.pressure },
              { humidity: value[v].main.humidity },
              { visibility: value[v].visibility },
              { temp: value[v].main.temp },
              { feels_like: value[v].main.feels_like },
              { description: value[v].weather[0].description },
              { icon: value[v].weather[0].icon }
            ]
          })
        }
        console.log('cut')

        items.value.push({
          title: key,
          nestedItems: nestedItems
        })
        nestedItems.value = []
      }

    })
    .catch((err) => {

    });
};

const getCurrentWeatherForecast = (lon, lat) => {
  axios
    .get(`${weatherApiUrl.value}/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${weatherApiToken.value}&units=imperial`)
    .then((res) => {
      // currentWeatherForecast.value= res.data
      console.log(res.data)
      currentWeatherForecast.value.dt = res.data.dt
      console.log(currentWeatherForecast.value.dt, 'burt dt')
      currentWeatherForecast.value.icon = res.data.weather[0].icon
      console.log(currentWeatherForecast.value.icon, 'burt icon')
      currentWeatherForecast.value.description = res.data.weather[0].description
      currentWeatherForecast.value.temp = res.data.main.temp
      console.log(currentWeatherForecast.value.temp, 'burt temp')
      currentWeatherForecast.value.feels_like = res.data.main.feels_like
      currentWeatherForecast.value.wind = res.data.wind.speed
      currentWeatherForecast.value.pressure = res.data.main.pressure
      currentWeatherForecast.value.humidity = res.data.main.humidity
      currentWeatherForecast.value.visibility = res.data.visibility
      currentWeatherForecast.value.temp_min = res.data.main.temp_min
      currentWeatherForecast.value.temp_max = res.data.main.temp_max
    })
    .catch((err) => {

    });
};

</script>

<style scoped>
h1 {
  font-size: 20px;
  font-weight: bold;
  color: #3e0282;
}

hr {
  color: white;
  height: 1px;

}

.active {
  color: #ffffff;
  font-size: 15px;
}

.inactive {
  color: rgb(148, 146, 146);
  font-size: 13px;
}

.view-container {
  padding: 0px 30px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.new-title-container {
  padding: 10px 24px;
  background: #22252a;
}

.new-title-container h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 700;
}

.new-title-container :deep(.ant-row) {
  align-items: center;
}

.custom-filter :deep(.ant-form-item) {
  margin-bottom: 0;
}

.pagenate-selection-end {
  width: 120px;
  text-align: center;
}

.action-container {
  display: flex;
  flex-wrap: wrap;
}

.action-container div {
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.single-input {
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 12px;
}

.client-action {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

:deep(.table-striped) td {
  background-color: #ebebf0ae;
}

:deep(.ant-table-small .ant-table-thead)>tr>th {
  background-color: #0369a7;
}

.ant-table-column-title {
  color: white
}

.ant-table-column-title .single-input {
  color: black;
}

:deep(.ant-table-cell-row-hover) {
  background-color: #a8d8f6 !important;
}

.image-container {
  max-width: 95%;
  /* Ensures the container doesn't exceed its parent's width */
  height: auto;
  /* Allows the image to scale proportionally */
  border-radius: 20px;
  /* Adjust the value to control the curve radius */
  overflow: hidden;
  /* This hides any part of the image that extends beyond the curved edges */
}

.image-container:hover {
  border: 10px solid #034881;
  /* Change the border style when hovering */
  cursor: pointer;
}

.blinking {
  animation: blink 1s infinite;
}

.centered-text {
  display: flex;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
  width: 100%;
  /* Optionally, make the div full width */
  border-radius: 10px;
  /* height: 100vh;           Optionally, make the div full height */
  line-height: 1;
}

@keyframes blink {

  20%,
  100% {
    opacity: 1;
    /* Start and end with full opacity */
  }

  50% {
    opacity: 0;
    /* Blink to transparent in the middle */
  }
}

.hourly-stat {
  min-width: 85px;
  text-align: center;
  padding: 5px 5px;
}

.hourly-stat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Optionally, if you want to center them horizontally */
}

.current-stat {
  min-width: 85px;
  text-align: center;
  padding: 5px 5px;
}

.current-stat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Optionally, if you want to center them horizontally */
  border-radius: 10px;
}

.current-stat {
  min-width: 100px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  flex: 1;
}

.label-aligned-left {
  float: left;
  /* Aligns text to the left */
}

.value-aligned-right {
  float: right;
  /* Aligns text to the left */
}

:deep(.ant-collapse-header-text) {
  /* color: #fff !important;   */
}

:deep(:where(.css-dev-only-do-not-override-hkh161).ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow) {
  /* color:#fff; */
}


@media screen and (max-width: 767px) {

  .pagination {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .view-container {
    padding: 15px;
  }

  .pagenate-selection-end {
    max-width: 95px;
    text-align: center;
  }

  .action-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .action-container div {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  ul.pagination-list {
    font-size: 11px;
  }

  :deep(.ant-input-number) {
    width: 35px;
  }

  :deep(.ant-input-number-input) {
    padding: 0 5px;
  }

  :deep(.ant-pagination-prev),
  :deep(.ant-pagination-next),
  :deep(.ant-pagination-jump-prev),
  :deep(.ant-pagination-jump-next) {
    min-width: 35px;
  }

  .current-stat {
    margin: -5px -15px;
  }
}
</style>