<template>
  <div> 
   <div class="container">
    <p>Test</p>
      <div v-for="(slide, index) in slides" :key="index" class="mySlides" :style="{ display: index === slideIndex ? 'block' : 'none' }">
        <div class="numbertext">{{ index + 1 }} / {{ slides.length }}</div>
        <img :src="slide.src" style="width:50%; display: block; margin: 0 auto;"/>
      </div>

      <a class="prev" @click="plusSlides(-1)">❮</a>
      <a class="next" @click="plusSlides(1)">❯</a>

      <div class="caption-container">
        <!-- <p id="caption">{{ currentSlide.alt }}</p> -->
      </div>

      <div class="row">
        <div
          v-for="(slide, index) in slides"
          :key="index"
          class="column"
        >
          <img
            class="demo cursor"
            :src="slide.thumbnail"
            style="width:100%"
            @click="currentSlide(index)"
            :alt="slide.alt"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, computed } from 'vue';

const slideIndex = ref(0);
const slides = ref([
  {
    src: 'https://api-posims.bigburt.com/media/images/wings.jpg',
    thumbnail: 'https://api-posims.bigburt.com/media/images/wings.jpg',
    alt: 'The Woods',
  },
  {
    src: 'https://api-posims.bigburt.com/media/images/allure.jpg',
    thumbnail: 'https://api-posims.bigburt.com/media/images/allure.jpg',
    alt: 'Cinque Terre',
  },
  {
    src: 'https://api-posims.bigburt.com/media/images/downy.jpg',
    thumbnail: 'https://api-posims.bigburt.com/media/images/downy.jpg',
    alt: 'Mountains and fjords',
  },
  {
    src: 'https://api-posims.bigburt.com/media/images/earth-mama.jpg',
    thumbnail: 'https://api-posims.bigburt.com/media/images/earth-mama.jpg',
    alt: 'Northern Lights',
  },
  {
    src: 'https://api-posims.bigburt.com/media/images/elecare.jpg',
    thumbnail: 'https://api-posims.bigburt.com/media/images/elecare.jpg',
    alt: 'Nature and sunrise',
  },
  {
    src: 'https://api-posims.bigburt.com/media/images/infinix5g2023.jpg',
    thumbnail: 'https://api-posims.bigburt.com/media/images/infinix5g2023.jpg',
    alt: 'Snowy Mountains',
  },
  {
    src: 'https://api-posims.bigburt.com/media/images/infinix5g2023.jpg',
    thumbnail: 'https://api-posims.bigburt.com/media/images/infinix5g2023.jpg',
    alt: 'Snowy Mountains',
  },
  {
    src: 'https://api-posims.bigburt.com/media/images/infinix5g2023.jpg',
    thumbnail: 'https://api-posims.bigburt.com/media/images/infinix5g2023.jpg',
    alt: 'Snowy Mountains',
  },
]);

const currentSlide =  (index) => {
  showSlides(index);
};

const plusSlides = (n) => {
  showSlides(slideIndex.value + n);
};

const showSlides = (n) => {
  if (n >= slides.value.length) {
    slideIndex.value = 0;
  } else if (n < 0) {
    slideIndex.value = slides.value.length - 1;
  } else {
    slideIndex.value = n;
  }
};
</script>

<style scoped>
/* Add your CSS styles here */

body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: absolute;
  align-items: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 10px;
  margin-top: -50px;
  color: rgb(9, 9, 9);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  height: 50px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(249, 249, 249);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #0a0a0a;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 10;
}

/* Container for image text */
.caption-container {
  text-align: center;
  /* background-color: #222; */
  padding: 10px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 1;
}

.active,
.demo:hover {
  border: 2px solid black;
}

</style>