<template>
    <div > 
    <br/>
        <a-form 
        ref="formRef"
        :model="changePasswordFormRequest" 
        name="basic" 
        :label-col="{ span: 8 }" 
        :wrapper-col="{ span: 8 }"
        autocomplete="off" 
        @finish="onFinish" 
        @finishFailed="onFinishFailed"
        >
            <a-form-item label="Old Password" name="old_password" 
            :rules="[{ required: true, message: systemMessage.oldPasswordIsRequired }]">
                <a-input-password v-model:value="changePasswordFormRequest.old_password" type="password"  />
            </a-form-item>

            <a-form-item label="Password" name="new_password" :rules="passwordRules">
                <a-input-password v-model:value="changePasswordFormRequest.new_password" type="password"  />
            </a-form-item>

            <a-form-item label="Confirm Password" name="new_password_confirmation" :rules="confirmPasswordRules">
                <a-input-password v-model:value="changePasswordFormRequest.new_password_confirmation" type="password" />
            </a-form-item>

            <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
                <a-button type="primary" html-type="submit" :loading="changePasswordFormRequestLoading" :disabled="loading"
                @click="submit">Change</a-button>
            </a-form-item>
        </a-form>
    </div> 
</template>

  <script setup>
  
import { ref} from 'vue';
import { storeToRefs } from 'pinia'
import { useAuthStore } from "@/stores/authStore";
import { systemMessages } from '@/constants';

//Instantiate and expose those variables or functions from useAuthStore
//so you can use it anywhere in the component
const authStore = useAuthStore()

const { changePasswordFormRequest, changePasswordFormRequestLoading } = storeToRefs(authStore) 

const { changePassword } = authStore

const systemMessage = systemMessages;

const formRef = ref();

//Methods  **************************************//
const onFinish = (values) => {
  console.log('Success:', values);
  changePassword()  
};

const onFinishFailed = (errorInfo) => {
  console.log('Failed:', errorInfo);
};

let validateConfirmPassword = async (_rule, value) => {
  if (value !== changePasswordFormRequest.value['new_password']) {
    return Promise.reject("Password and Confirm password do not matcTh!");
  } else {
    return Promise.resolve();
  }
};

const resetForm = () => {
 formRef.value.resetFields();
};

const passwordRules = ref([
  { required: true, message: 'Please enter a password' },
  { min: 8, message: 'Password must be at least 8 characters long' },
]);

const confirmPasswordRules = ref([
  { required: true, message: 'Please confirm your password' },
  { validator: validateConfirmPassword, trigger: 'change' },
]);
  </script>